{% load staticfiles %}
<html>
<head>
    <title>DISPLAYer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>

        <form method="get" action="/search/" class="navbar-form pull-right">
        <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
        <input type="submit" class="btn" value="Search" >
        </form>

        <a href = '/displaycher/'> <img src="{% static 'picture/bat-logo.png' %}" alt="logo"> </a>
        <ul>
        {% for profile in profile_list %}
        <li><a href = '/displayer/{{profile.no}}/'>{{profile.name}}</a></li>
            <br/>
        {% endfor %}
    </ul>
</body>
</html>
